#category-menu{
height: 30px;
}

.menu-tab{
    text-align: center;
    height: 50px;
    width: 150px;
    float: left;
}
.menu-button{
    border: none;
    background-color: #ffffff;
    height: 30px;
    width: 150px;
    font-size: 18px;
    text-align: center;
}
.menu-button:hover{
    background-color: rgb(220, 220, 220);
}
#searchbar-submit{
    width: 35px;
}
#searchbar{
    width: 350px;
}
#changeColorBtn{
    width: 300px;

}
